table{
    text-align: center;
    margin-top: 40px;
    background-color: white;
}

.item-img{
    width: 50px;
    height: 50px;
}

.buy-button{
    color: white;
    background-color: blue;
    border-radius: 2em;
    border: 1px solid blue;
    padding: 10px;
    width:300px; 
    margin: -20px -120px; 
    position:relative;
    top:20%; 
    left:47%;
}
.buy-button:hover{
    background-color: darkblue;
    color: yellow;
}

thead{
    background-color: black;
}

th{
    color: white;
}

tbody > tr:hover{
    background-color: lightgreen;
}

tfoot{
    background-color: black;
}

.total{
    padding-right: 50px;
}

.title-cart{
    text-align: center;
    font-size: 48px;
    color: blue;
}

.description-cart{
    font-weight: bold;
}

.empty-cart{
    font-size: 32px;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

table{
    font-size: 14px;
}

table > thead{
    font-size: 12px;
    width: 100%;
}