.card {
    margin: 20px;
    border-radius: 20px;
    height: 560px;
}

.card-title {
    color: blue;
    height: 48px;
}

.card-body {
    height: 210px;
}

.card-img-center {
    margin-top: 15px;
}

footer {
    margin-top: 1.5rem;
}

.shop-cart {
    margin-top: 10px;
}

path {
    display: none;
}

svg {
    display: none;
}

.nav-item-p {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.shop-title {
    color: blue;
    text-align: center;
    transition: color 2s;
    font-weight: bold;
}

.shop-title:hover {
    color: darkgreen;
}

.nav-item-p:hover {
    color: yellow;
}

.products-nav {
    border-radius: 10px;
    margin-top: 20px;
    background-color: #0000FF;

}

.products-nav-item {
    list-style: none;
    text-align: center;
    padding-right: 35px;
}

.products-nav-item:hover {
    background-color: #3b83ac;
    border-radius: 15px;
    width: calc(100% - 35px);
    padding-left: 35px;
}

.text-sm {
    margin-top: 10px;
    padding-left: 15px;
}

.flex {
    margin-top: 20px;
    padding-left: 15px;
}

span.relative {
    display: none;
}

.container {
    -webkit-box-shadow: -1px 0px 18px -4px #000000;
    box-shadow: -1px 0px 18px -4px #000000;
}

.show {
    display: block;
}

.hidden {
    display: none;
}

.input-nav {
    display: flex;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: #0000FF;
    border: none;
    text-align: center;
    color: white;
    justify-content: center;
    transition: font-size 0.5s;
}

.input-nav:hover{
    background-color: #3b83ac;
    color: yellow;
    font-size: 1.1em;
    font-weight: bold;
}